body {
    font-family: 'Chakra Petch', sans-serif !important;
}

.main-container {
    background-color: rgb(228, 231, 237);
    display: flex;
    min-height: 70%;
}

.account-div {
    background-color: rgb(213, 217, 225) !important;
}

.change-button {
    width: 15%;
    background-color: rgb(22, 159, 227) !important;
    border-color: transparent !important;
}

.change-button:hover {
    background-color: rgb(55, 148, 195) !important;
}