.main-container {
    background-color: rgb(228, 231, 237);
    display: flex;
}

.result {
    color: rgb(73, 79, 92);
}

.filter-tab {
    display: inline;
    color: rgb(123, 129, 140);
}

.style-card {
    border-radius: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}